<a href="https://colab.research.google.com/github/Kavya2099/recommendation-system/blob/main/Project_3_Collaborative_based_movie_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing data

In [1]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

!wget https://files.grouplens.org/datasets/movielens/ml-25m.zip

--2022-11-09 01:11:53--  https://files.grouplens.org/datasets/movielens/ml-25m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 261978986 (250M) [application/zip]
Saving to: ‘ml-25m.zip’

ml-25m.zip          100%[===================>] 249.84M  12.9MB/s    in 20s

2022-11-09 01:12:14 (12.2 MB/s) - ‘ml-25m.zip’ saved [261978986/261978986]

In [2]:
!unzip ml-25m.zip

Archive:  ml-25m.zip
   creating: ml-25m/
  inflating: ml-25m/tags.csv
  inflating: ml-25m/links.csv
  inflating: ml-25m/README.txt
  inflating: ml-25m/ratings.csv
  inflating: ml-25m/genome-tags.csv
  inflating: ml-25m/genome-scores.csv
  inflating: ml-25m/movies.csv

In [89]:
movie= pd.read_csv('ml-25m/movies.csv')
ratings = pd.read_csv('ml-25m/ratings.csv')

In [90]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [93]:
#to find the movie titles which has length less than 8, so that we can remove only the year from the title which has length greater than 7
l=[]

for i in movie.title:
  if (len(i)<8):
    l.append(i)

l

['Honky',
 'Viva',
 'Ittefaq',
 '101次求婚',
 'Vrijdag',
 'Hundra',
 'Veljet',
 'Kshanam',
 '6A',
 'Fant',
 'Freedom',
 'Gleason',
 'Bazodee',
 'MamaBoy',
 'The OA',
 'Cosmos',
 'Genesis',
 'Le Ride',
 'Elián',
 'Aprel',
 'Subdue',
 'Slumber',
 'Kickoff',
 'Trauma',
 'Frangi',
 'Harvest',
 'Heroine',
 'Seat 25',
 'Zero',
 'Tau',
 'Mara',
 'Lottery',
 'Since',
 'Wall',
 'Девочки',
 'BÚÉK',
 'Old Man',
 'Polina',
 'Wicked',
 'cursor',
 'Eli',
 'Burdock',
 'Twice',
 'Luz']

In [94]:
movie.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [95]:
import re
#removing year from title

def change_title(title):
#removing the year from title only if the length of the title is greater than 7
#if length is less than 7 means it doesn't have title attached with its name
  if(len(title) >7):
    title= title[:-7]

  return title

movie["title"] = movie["title"].apply(change_title)

movie.title

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
62418                             We
62419             Window of the Soul
62420                      Bad Poems
62421                   A Girl Thing
62422        Women of Devil's Island
Name: title, Length: 62423, dtype: object

In [96]:

def new_title(title):
    title = re.sub("[^a-zA-Z0-9 ]", "", title)
    return title

movie["new_title"] = movie["title"].apply(new_title)
movie["new_title"] = movie["new_title"].str.lower()

In [97]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [98]:
movie.isnull().sum()

movieId      0
title        0
genres       0
new_title    0
dtype: int64

In [99]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [100]:
#merging both dataset
movies= movie.merge(ratings, on='movieId')
movies.head()

,movieId,title,genres,new_title,userId,rating,timestamp
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,2,3.5,1141415820
1,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,3,4.0,1439472215
2,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,4,3.0,1573944252
3,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,5,4.0,858625949
4,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,8,4.0,890492517

# Creating tables based on popularity

In [101]:
#grouping based on total number of ratings given

num_rating= movies.groupby('title').count()['rating'].reset_index()
num_rating.head()

                                              title  rating
0  "BLOW THE NIGHT!" Let's Spend the Night Together       1
1                         "Great Performances" Cats     179
2                               #1 Cheerleader Camp       9
3                                         #Captured       2
4                                  #Female Pleasure       3

In [102]:
#rename the rating column name to num_of_rating

num_rating.rename(columns = {'rating':'num_of_rating'}, inplace = True)
num_rating.head()

                                              title  num_of_rating
0  "BLOW THE NIGHT!" Let's Spend the Night Together              1
1                         "Great Performances" Cats            179
2                               #1 Cheerleader Camp              9
3                                         #Captured              2
4                                  #Female Pleasure              3

In [104]:
#grouping based on average number of ratings given

avg_rating= movies.groupby('title').mean()['rating'].reset_index()
avg_rating.head()

                                              title    rating
0  "BLOW THE NIGHT!" Let's Spend the Night Together  3.000000
1                         "Great Performances" Cats  2.896648
2                               #1 Cheerleader Camp  2.111111
3                                         #Captured  3.750000
4                                  #Female Pleasure  3.666667

In [105]:
#rename the rating column name to num_of_rating

avg_rating.rename(columns = {'rating':'avg_rating'}, inplace = True)
avg_rating

                                                  title  avg_rating
0      "BLOW THE NIGHT!" Let's Spend the Night Together    3.000000
1                             "Great Performances" Cats    2.896648
2                                   #1 Cheerleader Camp    2.111111
3                                             #Captured    3.750000
4                                      #Female Pleasure    3.666667
...                                                 ...         ...
55471                   …And the Fifth Horseman Is Fear    3.250000
55472                                              キサラギ    3.250000
55473                                           チェブラーシカ    3.166667
55474                                              貞子3D    2.375000
55475                                              줄탁동시    4.000000

[55476 rows x 2 columns]

In [106]:
#merge two tables

popularity = num_rating.merge(avg_rating,on='title')
popularity.head()

                                              title  num_of_rating  avg_rating
0  "BLOW THE NIGHT!" Let's Spend the Night Together              1    3.000000
1                         "Great Performances" Cats            179    2.896648
2                               #1 Cheerleader Camp              9    2.111111
3                                         #Captured              2    3.750000
4                                  #Female Pleasure              3    3.666667

In [107]:
# only taking the titles where users have given number of ratings > 1000 and sorting the titles in descending based on average rating

popularity = popularity[popularity.num_of_rating > 1000].sort_values('avg_rating',ascending=False)
#this shows top 50 popular movies in the dataset
popularity.head(50)

,title,num_of_rating,avg_rating
34644,Planet Earth II,1124,4.483096
34643,Planet Earth,1747,4.464797
39314,"Shawshank Redemption, The",81482,4.413576
4711,Band of Brothers,1356,4.398599
18168,"Godfather, The",52498,4.324336
51973,"Usual Suspects, The",55366,4.284353
18169,"Godfather: Part II, The",34188,4.261759
38998,Seven Samurai (Shichinin no samurai),13367,4.254769
38399,Schindler's List,60411,4.247579
36354,Rear Window,20170,4.237432
181,12 Angry Men,17328,4.230927
15782,Fight Club,58773,4.228311
32804,One Flew Over the Cuckoo's Nest,36058,4.218662
13447,Dr. Strangelove or: How I Learned to Stop Worr...,26714,4.215804
41087,Spirited Away (Sen to Chihiro no kamikakushi),22719,4.212267
8467,Casablanca,26890,4.206564
42222,Sunset Blvd. (a.k.a. Sunset Boulevard),7368,4.206501
49593,"Third Man, The",7194,4.201487
26630,"Lives of Others, The (Das leben der Anderen)",9177,4.200392
33883,Paths of Glory,4254,4.199342
32072,North by Northwest,16850,4.196617
13322,Double Indemnity,5408,4.192678
35647,Pulp Fiction,79672,4.188912
9500,City of God (Cidade de Deus),19894,4.181587
18453,Goodfellas,32663,4.180525
54789,Yojimbo,3996,4.179179
2414,All About Eve,5068,4.169692
11352,"Dark Knight, The",41519,4.166538
5873,"Big Sleep, The",5720,4.159965
9174,Chinatown,16929,4.158633
22233,Inception,38895,4.155508
26218,Life Is Beautiful (La Vita è bella),23976,4.154342
28702,"Matrix, The",72674,4.154099
28058,"Maltese Falcon, The",12257,4.154075
49568,"Thin Man, The",3318,4.153255
30835,My Neighbor Totoro (Tonari no Totoro),9340,4.152463
27629,M,4674,4.152439
39722,"Silence of the Lambs, The",74127,4.151342
28971,Memento,41195,4.149958
29931,Monty Python and the Holy Grail,37723,4.147655
50231,To Kill a Mockingbird,15986,4.146441
41334,Star Wars: Episode V - The Empire Strikes Back,57361,4.144122
53639,Whiplash,12210,4.143694
41577,"Sting, The",15675,4.142360
36185,Ran,5220,4.142050
50593,Touch of Evil,4823,4.141198
34531,Piper,1234,4.140194
2859,American History X,31157,4.140001
35348,Princess Mononoke (Mononoke-hime),13136,4.138094
34364,"Philadelphia Story, The",6499,4.137713

# Collaborative based filtering

In [108]:
#group by userids who has given ratings more than 1500 movies
x= movies.groupby('userId').count()['rating']>1500
x.head()

userId
1    False
2    False
3    False
4    False
5    False
Name: rating, dtype: bool

In [109]:
#getting their index of users who has given ratings for more than 1000 movies; 
sim_users= x[x].index 
sim_users

Int64Index([   548,    626,    847,    997,   1401,   1652,   1748,   1920,
              1977,   2165,
            ...
            160922, 160951, 161184, 161383, 161544, 161586, 161928, 162047,
            162271, 162516],
           dtype='int64', name='userId', length=910)

In [110]:
#all movies that sim_users has also viewed
sim_movies= movies[movies['userId'].isin(sim_users)]
sim_movies

,movieId,title,genres,new_title,userId,rating,timestamp
172,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,548,4.5,1431644949
199,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,626,4.5,1136304145
283,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,847,4.0,1048092664
339,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,997,4.5,1529250285
477,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,1401,4.5,1544250123
...,...,...,...,...,...,...,...
25000061,209067,Sousse: Marché aux charbons (avec chameaux),(no genres listed),sousse march aux charbons avec chameaux,154484,2.5,1574026518
25000068,209089,An Impossible Balancing Feat,(no genres listed),an impossible balancing feat,154484,3.0,1574075308
25000070,209103,Tsar Ivan the Terrible,(no genres listed),tsar ivan the terrible,13737,4.0,1574112239
25000079,209135,Jane B. by Agnès V.,Documentary|Fantasy,jane b by agns v,154484,3.5,1574187267
25000085,209147,The Carpet of Horror,Crime|Horror,the carpet of horror,83426,3.5,1574225052

In [111]:
#groupby title for movies the number of ratings given to the movie is greater than 500
y= sim_movies.groupby('title').count()['rating']>500
#getting their index
famous_movies= y[y].index 
famous_movies

Index(['(500) Days of Summer', '10 Things I Hate About You',
       '101 Dalmatians (One Hundred and One Dalmatians)', '12 Angry Men',
       '2001: A Space Odyssey', '21 Grams', '28 Days Later', '300',
       '3:10 to Yuma', '40-Year-Old Virgin, The',
       ...
       'X-Men', 'X-Men: First Class', 'X-Men: The Last Stand',
       'X2: X-Men United', 'You've Got Mail', 'Young Frankenstein', 'Zodiac',
       'Zombieland', 'Zoolander', 'xXx'],
      dtype='object', name='title', length=791)

In [112]:
#getting the details of the movies where the number of ratings given to the movie is greater than 500 
final_ratings= sim_movies[movies['title'].isin(famous_movies)]
final_ratings

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

,movieId,title,genres,new_title,userId,rating,timestamp
172,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,548,4.5,1431644949
199,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,626,4.5,1136304145
283,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,847,4.0,1048092664
339,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,997,4.5,1529250285
477,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,1401,4.5,1544250123
...,...,...,...,...,...,...,...
24997994,205873,Cinderella,Animation|Children|Fantasy,cinderella,72315,3.0,1567666207
24998980,206899,Charlie's Angels,Action|Adventure|Comedy,charlies angels,132358,2.0,1573872003
24998982,206899,Charlie's Angels,Action|Adventure|Comedy,charlies angels,143568,3.5,1574300863
24998984,206899,Charlie's Angels,Action|Adventure|Comedy,charlies angels,146708,3.0,1574282669
24999997,208800,Lady and the Tramp,Comedy|Romance,lady and the tramp,19379,2.5,1574158682

In [113]:
final_ratings.drop_duplicates()

,movieId,title,genres,new_title,userId,rating,timestamp
172,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,548,4.5,1431644949
199,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,626,4.5,1136304145
283,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,847,4.0,1048092664
339,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,997,4.5,1529250285
477,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,toy story,1401,4.5,1544250123
...,...,...,...,...,...,...,...
24997994,205873,Cinderella,Animation|Children|Fantasy,cinderella,72315,3.0,1567666207
24998980,206899,Charlie's Angels,Action|Adventure|Comedy,charlies angels,132358,2.0,1573872003
24998982,206899,Charlie's Angels,Action|Adventure|Comedy,charlies angels,143568,3.5,1574300863
24998984,206899,Charlie's Angels,Action|Adventure|Comedy,charlies angels,146708,3.0,1574282669
24999997,208800,Lady and the Tramp,Comedy|Romance,lady and the tramp,19379,2.5,1574158682

We can see that there is no duplicates

> We are using pivot table instead of TfidfVectorizer. TfidfVectorizer converts a collection of raw documents to a matrix of TF-IDF features. 

> Here we dont have any text except title to give as input to the vectorizer. 

> If we use this, we'll end up getting recooemdations based on title only not based on other users

> Because of that reason we are using pivot table.

In [114]:
"""
Creating a pivot table

A PivotTable is an interactive way to quickly summarize large amounts of data. You can use a PivotTable to analyze numerical data in detail """

pt= final_ratings.pivot_table(index='new_title',columns='userId',values='rating')
#pt1 is for getting/printing the actual/original title of the movie of the same index as of pt
pt1= final_ratings.pivot_table(index=['new_title','title'],columns='userId',values='rating')

pt

userId,548,626,847,997,1401,1652,1748,1920,1977,2165,...,160922,160951,161184,161383,161544,161586,161928,162047,162271,162516
new_title,,,,,,,,,,,,,,,,,,,,,
10 things i hate about you,4.5,4.0,3.5,3.0,1.0,NaN,1.5,NaN,NaN,4.0,...,4.0,3.0,2.5,NaN,NaN,NaN,NaN,3.0,NaN,3.5
101 dalmatians one hundred and one dalmatians,4.0,4.0,3.5,3.0,NaN,5.0,3.0,3.0,4.0,NaN,...,4.0,NaN,4.0,3.5,NaN,2.5,3.0,NaN,NaN,4.0
12 angry men,NaN,4.0,4.0,4.0,5.0,4.5,NaN,NaN,4.0,5.0,...,4.0,NaN,5.0,NaN,NaN,3.5,NaN,5.0,3.5,4.5
2001 a space odyssey,NaN,4.0,4.5,5.0,3.0,3.0,4.0,4.0,4.5,0.5,...,3.0,4.5,5.0,3.0,4.0,5.0,NaN,4.0,4.5,4.5
21 grams,4.0,NaN,2.5,4.0,NaN,NaN,3.5,4.0,3.0,5.0,...,NaN,4.0,4.5,NaN,3.0,NaN,NaN,4.0,2.5,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
young frankenstein,NaN,4.0,3.0,NaN,2.0,NaN,1.5,4.0,NaN,NaN,...,4.5,4.5,4.5,3.0,NaN,4.5,NaN,2.0,3.5,4.0
youve got mail,3.5,4.0,3.5,3.0,NaN,4.0,4.0,3.0,2.0,NaN,...,3.5,3.0,3.0,NaN,1.5,NaN,3.0,2.5,1.5,2.5
zodiac,4.5,NaN,4.0,4.0,4.0,5.0,3.5,3.0,NaN,1.5,...,3.0,4.0,3.0,NaN,2.5,2.0,NaN,5.0,4.0,4.0
zombieland,4.0,NaN,NaN,3.5,2.5,4.0,NaN,4.0,NaN,3.0,...,NaN,4.0,NaN,NaN,NaN,2.5,NaN,3.0,3.5,3.0
zoolander,2.0,NaN,3.5,3.0,2.0,NaN,1.0,3.0,NaN,4.5,...,NaN,NaN,3.5,NaN,1.5,2.5,NaN,2.0,2.5,3.0

In [115]:
pt.fillna(0,inplace=True)
pt1.fillna(0,inplace=True)
pt

userId,548,626,847,997,1401,1652,1748,1920,1977,2165,...,160922,160951,161184,161383,161544,161586,161928,162047,162271,162516
new_title,,,,,,,,,,,,,,,,,,,,,
10 things i hate about you,4.5,4.0,3.5,3.0,1.0,0.0,1.5,0.0,0.0,4.0,...,4.0,3.0,2.5,0.0,0.0,0.0,0.0,3.0,0.0,3.5
101 dalmatians one hundred and one dalmatians,4.0,4.0,3.5,3.0,0.0,5.0,3.0,3.0,4.0,0.0,...,4.0,0.0,4.0,3.5,0.0,2.5,3.0,0.0,0.0,4.0
12 angry men,0.0,4.0,4.0,4.0,5.0,4.5,0.0,0.0,4.0,5.0,...,4.0,0.0,5.0,0.0,0.0,3.5,0.0,5.0,3.5,4.5
2001 a space odyssey,0.0,4.0,4.5,5.0,3.0,3.0,4.0,4.0,4.5,0.5,...,3.0,4.5,5.0,3.0,4.0,5.0,0.0,4.0,4.5,4.5
21 grams,4.0,0.0,2.5,4.0,0.0,0.0,3.5,4.0,3.0,5.0,...,0.0,4.0,4.5,0.0,3.0,0.0,0.0,4.0,2.5,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
young frankenstein,0.0,4.0,3.0,0.0,2.0,0.0,1.5,4.0,0.0,0.0,...,4.5,4.5,4.5,3.0,0.0,4.5,0.0,2.0,3.5,4.0
youve got mail,3.5,4.0,3.5,3.0,0.0,4.0,4.0,3.0,2.0,0.0,...,3.5,3.0,3.0,0.0,1.5,0.0,3.0,2.5,1.5,2.5
zodiac,4.5,0.0,4.0,4.0,4.0,5.0,3.5,3.0,0.0,1.5,...,3.0,4.0,3.0,0.0,2.5,2.0,0.0,5.0,4.0,4.0
zombieland,4.0,0.0,0.0,3.5,2.5,4.0,0.0,4.0,0.0,3.0,...,0.0,4.0,0.0,0.0,0.0,2.5,0.0,3.0,3.5,3.0
zoolander,2.0,0.0,3.5,3.0,2.0,0.0,1.0,3.0,0.0,4.5,...,0.0,0.0,3.5,0.0,1.5,2.5,0.0,2.0,2.5,3.0

In [116]:
#cosine simularity
from sklearn.metrics.pairwise import cosine_similarity
similarity_scores = cosine_similarity(pt)
similarity_scores.shape

(791, 791)

In [117]:
similarity_scores

array([[1.        , 0.59671396, 0.58775479, ..., 0.62510637, 0.61193687,
        0.67061426],
       [0.59671396, 1.        , 0.63828935, ..., 0.52034784, 0.52022317,
        0.60651434],
       [0.58775479, 0.63828935, 1.        , ..., 0.69453301, 0.61961764,
        0.64625129],
       ...,
       [0.62510637, 0.52034784, 0.69453301, ..., 1.        , 0.74656204,
        0.65302658],
       [0.61193687, 0.52022317, 0.61961764, ..., 0.74656204, 1.        ,
        0.68600489],
       [0.67061426, 0.60651434, 0.64625129, ..., 0.65302658, 0.68600489,
        1.        ]])

In [118]:
#creating function

def recommend_movie(title):
  title= title.lower()
  title= new_title(title)
  #print(title)
  #getting index; last two zeros denotes getting the index value from set
  index= np.where(pt.index==title)[0][0]
  #print(index)
  sim_scores= enumerate(similarity_scores[index])
  sim_scores= sorted(sim_scores, key= lambda x: x[1], reverse=True)
  sim_scores= sim_scores[1:11]
  
  #getting the index of the sim_scores
  sim_index= [i[0] for i in sim_scores]
  
  for i in sim_index:
    print(pt1.index[i][1])

In [121]:
recommend_movie('12 Angry Men')

One Flew Over the Cuckoo's Nest
Rear Window
Godfather, The
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
Casablanca
Fargo
Goodfellas
Taxi Driver
Pulp Fiction
2001: A Space Odyssey

In [122]:
recommend_movie('toy story')

Toy Story 2
Jurassic Park
Back to the Future
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark)
Star Wars: Episode IV - A New Hope
Sixth Sense, The
Monsters, Inc.
Matrix, The
Silence of the Lambs, The
Star Wars: Episode V - The Empire Strikes Back